<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Let's Here About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <img src="/img/sridiaries.jpg" class="card-img-top" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="card-body">
        <h5 class="card-title">THE TOP 10 SECRETS OF THE SRI LANKAN KITCHEN</h5>
        <p class="card-text">
          Sri Lankans often consume rice and curries every day. This seems to be tedious, right? However, this is not the case. What are the Sri Lankan Kitchen's Secrets? In Sri Lanka,
           there are hundreds of distinct varieties of curries prepared using a wide range of cooking methods and ingredients.
        </p>
        <a href="https://www.ceylonrusticguide.com/top-10-secrets-behind-the-sri-lankan-kitchen/" class="btn btn-primary">For More Details</a>
      </div>

    </div>
    </div>
    <br>

  
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="/img/healthy.jpg" class="card-img-top" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="card-body">
        <h5 class="card-title">Is a Healthy Diet an Expensive Luxuries?</h5>
        <p class="card-text">
          Eating well and keeping active are two goals that almost everyone makes at the start of a new year.
           They are also the two resolves that are abandoned the most quickly. The reasons behind this are that most of us assume
            that eating a nutritious diet is tedious, time-consuming, and expensive.
          <br>
       To help you make healthy eating choices, establish a meal and snack plan for the day or week.
        </p>
        <a href="https://medium.com/cure-fit/is-a-healthy-diet-a-luxury-only-a-few-can-afford-ea4e83881834" class="btn btn-primary">For More Details</a>
      </div>

    </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/spice.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SPICES AND ALLIED PRODUCTS FROM SRI LANKA</h5>
            <p class="card-text">
              For generations, Sri Lanka has been known for its magnificent assortment of spices. These spices are significantly responsible for the mouthwatering flavours of Sri Lankan cuisine,
               whether it's a vegetable curry, red or white meat, fish or shellfish.</p>
            <a href="https://www.srilankabusiness.com/spices/sri-lankan-spices-and-allied-products.html" class="btn btn-primary">Show Me</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/mango.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sri Lanka's Oddest Fruit</h5>
            <p class="card-text">
              You've most likely tasted mangoes and pineapples before. If you've gone to one of the 
              more upscale international supermarkets, you could have even come across a star-fruit. 
              These are mainstay Sri Lankan exports, 
              although the island also possesses a plethora of lesser-known fruits.
            </p>
            <a href="https://www.timeout.com/sri-lanka/restaurants-cafes/sri-lankan-fruits" class="btn btn-primary">Show Me</a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="/img/asiancuisine.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">30 Simple Asian Recipes for Home Delivery</h5>
            <p class="card-text">
              Each nation is proud of its diverse cuisine choices, which are all scrumptious. Let's go on a tour of Asia!
              Simple items like rice, fruits, and vegetables are turned into spectacular meals 
              using herbs and flavours in Asian cookery.
            </p>
            <a href="https://insanelygoodrecipes.com/asian-recipes/" class="btn btn-primary">Show Me</a>
          </div>
        </div>
      </div>


    </div>

    <br>

    <div class="card mb-3" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Sri Lankan Cuisine: 40 of the Best Dishes on the Island</h5>
        <p class="card-text">A few aspects concerning Sri Lankan cuisine are certain:
           Sri Lankans like <b>spices, they adore flavorful cuisine, and many of them appreciate
            deep-fried, delectable treats.</b>
           Whatever you choose to eat in Sri Lanka, your mouth will rejoice with delight.</p>
        <a href="https://migrationology.com/sri-lankan-food-40-of-the-islands-best-dishes/" class="btn btn-primary">Show Me</a>
      </div>
    </div>
