<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Do you Want to Explore More Cuisine</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
    </div>
  </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <br>
        <iframe width="480" height="360" src="https://www.youtube.com/embed/G5NdEGDNrQY" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay="0"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="accordion-body">When you think of Croatia, the last thing to cross your mind would be Sri Lankan food. 
          Curry Bowl, a restaurant run by two Sri Lankan brothers in Zagreb, is making waves with their Sri Lankan menu.</div>
        </div> 

        <div class="col-12 col-md-6">
          <br>
          <iframe width="480" height="360" src="https://www.youtube.com/embed/xzMoNqcfmvU" title="YouTube video player" frameborder="0"
           allow="accelerometer; autoplay="0"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="accordion-body">
            Actually I was planning to cook potato white curry with spicy chicken curry for lunch. Since there were baby carrots with their leaves, 
            it seemed like a good combo with a fresh carrot leaf salad and fried prawn papadams( prawn rice crackers).
          </div>
          </div> 
          </div>

          <br>

          
  <div class="row">
    <div class="col-12 col-md-5 col-sm">
      <iframe width="300" height="220" src="https://www.youtube.com/embed/-FxSEmi-Cp8" title="YouTube video player" frameborder="0" allow="accelerometer;
       autoplay="0";
       clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-12 col-md-7">
      <div class="card-body">
        <h5 class="card-title">THE TOP 10 SECRETS OF THE SRI LANKAN KITCHEN</h5>
        <p class="card-text">
          Sri Lankans often consume rice and curries every day. This seems to be tedious, right? However, this is not the case. What are the Sri Lankan Kitchen's Secrets? In Sri Lanka,
           there are hundreds of distinct varieties of curries prepared using a wide range of cooking methods and ingredients.
        </p>
        <a href="https://www.ceylonrusticguide.com/top-10-secrets-behind-the-sri-lankan-kitchen/" class="btn btn-primary">For More Details</a>
      </div>

    </div>
    </div>
    <br>

  
  <div class="row">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What's New
          </button>
        </h2>

        
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="row">
          <div class="col-12 col-md-6">
            <br>
            <iframe width="480" height="360" src="https://www.youtube.com/embed/salEVVKMA_I" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay="0"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="accordion-body">SRI LANKA, COLOMBO – We took the ultimate Sri Lankan street food tour of Colombo, beginning on the outskirts and making our way into the market and all the way to the Galle Face shoreline. Colombo is a great city that is 
              both busy and tranquil and pleasant, with an abundance of excellent cuisine.</div>
            </div> 

            <div class="col-12 col-md-6">
              <br>
              <iframe width="480" height="360" src="https://www.youtube.com/embed/ZE8Iq6TqfF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
              encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="accordion-body">
                This banana kawum is dipped into kithul treacle when still hot since that is when the most treacle is absorbed. I'll travel to a relative who lives in an area where kithul treacle is manufactured and show you how it's made. My grandma visits my aunt every few days, 
                and I anticipated she would be late returning home, but she arrived on time.
              </div>
              </div> 
              </div>
          </div>
        </div>
      </div>



      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Your Favourite Picks
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="row">
            <div class="col-12 col-md-6">
              <br>
              <iframe width="480" height="360" src="https://www.youtube.com/embed/8BaHWepFl1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay="0"; 
              clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="accordion-body">MasterChef Australia is a cooking competition that pits outstanding home chefs against each other in a variety of culinary tasks, 
                mystery boxes, and creative challenges!
                The selected competitors compete against the world's best chefs to prepare five-star meals under extreme time constraints.</div>
              </div> 
  
              <div class="col-12 col-md-6">
                <br>
                <iframe width="480" height="360" src="https://www.youtube.com/embed/NBmcc_bNi7Y" title="YouTube video player" frameborder="0" allow="accelerometer; 
                autoplay="0"; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="accordion-body">
                  Northern Sri Lankan cuisine differs from that of the rest of the country. Odiyal Kool is a cuisine that is exclusive to Jaffna.
                   It's a spicy seafood soup that's highly traditional in northern Sri Lanka.
                </div>
                </div> 
                </div>

        </div>
      </div>

    </div>

    </div>

    <br>
  